.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  height: 100vh;
  background: $bg;
  &__title {
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    text-align: center;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    text-align: center;
  }
  @media (min-width: 768px) {
    &__title {
      font-size: 60px;
      line-height: 60px;
    }
  }
  @media (min-width: 768px) {
    &__subtitle {
      font-size: 25.2px;
      line-height: 25.2px;
    }
  }
}

