* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  color: #424242;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  box-sizing:border-box;
  display: inline-block;
  height: 40px;
  margin: 0 2px 15px;
  padding: 0 20px;
  width: auto;
  overflow: visible;
  transition: all .5s ease-out;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  &:hover{
    box-shadow: 200px 0 0 0 rgba(0,0,0,.3) inset;
    cursor: pointer;
  }
}

label {
  font-size: 14px;
  font-weight: 400;
}

input,
select {
box-sizing:border-box;
  display: block;
  width: 100%;
  padding: 10px;
  line-height: 20px;
  font-size: 16px;
  font-weight: inherit;
  background: $white;
  border-radius: 5px;
  border: 1px solid $darckGrey;

  &.invalid {
    border-color: $red;
  }

  &::placeholder {
    color: $textPlaceholder;
  }

}
select:hover{
  cursor: pointer;

}

a {
  text-decoration: none;
  color: $green;
  font-weight: 400;
  transition: opacity .1s ease-out;
}

ul,
ol,
dl {
  list-style: none;
  list-style-type: none;
  margin-bottom: 15px;
}

ul {
  list-style: circle inside;
  list-style-type: none;
  margin:0 0 0 50px;
  transition: all 2s;
 
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #424242;
  margin: 0 0 10px;
  font-weight: 600;
}

h1 {
  font-size: 48px;
  line-height: 60px;
}

h2 {
  font-size: 40px;
  line-height: 52px;
}

h4 {
  font-size: 28px;
  line-height: 40px;
}

p {
  margin-bottom: 15px;
}

strong,
b {
  font-weight: 600;
}

.button-primary {
  background-color: $green;
  color: $white;
  border-color: $green;
 // text-shadow: 1px 1px 1px black;

}

.button-round {
  border-radius: 24px;
}

.button-large {
  height: 48px;
  line-height: 48px;
  padding: 0 30px;
  font-size: 16px;
}

.button-small {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 12px;
}

.section {
  padding: 30px;
}
section :last-child {
  margin-bottom: 0;
}
.validation-error {
  margin-top: 2px;
  font-size: 12px;
  color: $red;
}
.button-danger {
  background-color: $red;
  color: $white;
  border-color: $red;
}
.hide {
  display: none !important;
}
.center {
  text-align: center;
}
*, *:before, *:after {
	box-sizing: border-box;
}
