.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

.tabs {
    list-style: none;
    display: flex;
    margin: 15px 0 30px;
}

.tabs .tab {
    padding: 10px 68px;
    border-bottom: 3px solid rgb(219, 217, 217);
    color: $darckGrey;
   transition: all 1s;
   &:hover{
    padding: 10px 68px;
    border-bottom: 3px solid #a8a8a8;
    color: #757575;

   }
}

.tabs .tab.active {
    border-bottom: 3px solid $green;
    color: #757575;
}

.w-container {
    margin: 0 auto;
    width: 600px;
}