.tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.tags .tag {
  margin-right: 5px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  color: $white;
  background: $textPlaceholder;
  //box-shadow: 0 2px 4px #eee;
}

.tags .tag-rounded {
  border-radius: 16px;
}

.tags .tag-blue {
  background: #207075;
}

.panel {
  background: $white;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 0;
  box-shadow: 0 2px 6px rgba(224, 224, 224, 0.5);
  transition: all 1s;

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 15px;
    background: $bg;
    
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
  }

  &-head &-title {
    font-size: 28px;
  }

  &-body {
    transition: all .5s;
    padding: 30px 15px;
    &:hover {
      padding: 80px 15px;
      transition: all .5s 10s;
    }
   
  }

  &-footer {
    padding: 15px;
    background: $bg;
    
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
  }

  &-footer>* {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 4px 12px rgba(156, 152, 152, 0.767);
    //margin-bottom:110px;
   // margin-top: 110px;
  }
 
}

.multi-line {
  white-space: pre-line;
}

.w-panel-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}